{% load static %}

<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zoo Topic</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/images/favicon.ico"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: "Pretendard-Regular";
        src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
          format("woff");
        font-weight: 400;
        font-style: normal;
      }

      body {
        background-color: #f5f5f5;
        font-family: "Pretendard-Regular";
      }

      .navbar {
        justify-content: flex-end;
      }

      .accordion-header button:not(.collapsed) {
        box-shadow: rgba(241, 171, 0, 0.5);
      }

      .accordion-item .accordion-button:not(.collapsed) {
        border: 5px solid rgba(241, 171, 0, 0.5);
      }
    </style>
  </head>

  <body>
    <!-- 전체 컨테이너 -->
    <div>
      <!-- 제목/네비바 -->
      <div
        class="col-lg-12 p-2 bg-white"
        style="text-align: center; vertical-align: middle"
      >
        <img src="../static/images/zoo.png" alt="zoo" style="height: 100px" />
        <span style="font-size: 70px; font-weight: 900; color: #d00d17">
          Topic
        </span>
      </div>
      <nav
        class="navbar navbar-expand-lg navbar-light sticky-top bg-white px-2"
      >
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../static/images/title.png" style="height: 40px" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul
              class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
              style="--bs-scroll-height: 100px"
            >
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#album">뉴스</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">날씨</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="col-lg-12 py-2 text-center">
          <h2 style="font-weight: 700">
            세상의 소식을 놓치지 않고 싶지만 바쁜 스케줄 때문에 신문을 읽을
            시간이 없어요!
          </h2>
        </div>

        <!-- 구독 -->
        <div
          class="row justify-content-center"
          style="background-color: #f1ab00"
        >
          <div
            class="col-lg-12 py-5 text-center"
            style="color: white; font-weight: 500"
          >
            <h3>
              세상 돌아가는 소식을 받아보고 싶지만 신문을 볼 시간이 없어요!<br />월/화/수/목/금
              아침마다 세상 돌아가는 소식을 이메일로 받아보세요!
            </h3>
          </div>
          <div class="col-lg-6 p-5">
            <main
              class="form-signin w-100 m-auto"
              style="min-width: 300px; max-width: 500px; float: inline-end"
            >
              <!-- 입력 폼 -->
              <form>
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    style="margin-bottom: 10px"
                  />
                  <label for="floatingInput">이메일 주소</label>
                </div>
                <!-- 개인정보 수집·이용 동의 체크박스 -->
                <div class="form-check text-start my-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="remember-me"
                    id="flexCheckDefault"
                    onclick="showPrivacyModal()"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <u>개인정보 수집·이용</u>에 동의합니다
                  </label>
                </div>

                <!-- 개인정보 수집·이용 모달 -->
                <div id="privacyModal" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">개인정보 수집·이용 동의</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          (주)주토픽은 귀하의 개인 정보 보호를 존중하며, 귀하의
                          개인 정보를 보호하기 위해 최선을 다하고 있습니다.
                          이메일 주소는 회사와의 소식, 업데이트, 행사 및
                          프로모션과 관련된 정보를 받기 위한 용도로 사용될 수
                          있습니다.
                        </p>
                        <p>
                          동의를 선택함으로써 귀하는 회사가 귀하의 이메일 주소를
                          위와 같은 목적으로 사용하는 데 동의하게 됩니다. 회사는
                          귀하의 개인 정보를 안전하게 보호하며, 제3자에게 귀하의
                          정보를 전달하지 않습니다. 귀하는 언제든지 이메일
                          수신을 거부할 수 있으며, 이메일 내의 링크를 통해
                          구독을 취소할 수 있습니다.
                        </p>
                        <p>
                          귀하의 이메일 수집 동의에 대한 문의 사항이 있으시면
                          아래 연락처로 문의하십시오:
                        </p>
                        <p>[회사명 및 연락처] (주)주토픽 02-3667-7304~5</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  function showPrivacyModal() {
                    if (document.getElementById("flexCheckDefault").checked) {
                      var privacyModal = new bootstrap.Modal(
                        document.getElementById("privacyModal")
                      );
                      privacyModal.show();
                    }
                  }
                </script>

                <div class="form-check text-start my-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="receive-marketing-info"
                    id="receiveMarketingInfo"
                    onclick="showMarketingModal()"
                  />
                  <label class="form-check-label" for="receiveMarketingInfo">
                    <u>광고성 정보 수신</u>에 동의합니다
                  </label>
                </div>

                <!-- 광고성 정보 수신 모달 -->
                <div id="marketingModal" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">광고성 정보 수신 동의</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          (주)주토픽은 귀하의 이메일 주소를 사용하여 회사의
                          제품, 서비스, 행사, 특가 및 프로모션에 관한 정보를
                          제공할 수 있습니다.
                        </p>
                        <p>
                          동의를 선택함으로써 귀하는 회사가 귀하의 이메일 주소를
                          광고 및 마케팅 목적으로 사용하는 데 동의하게 됩니다.
                          회사는 귀하의 개인 정보를 안전하게 보호하며, 제3자에게
                          귀하의 정보를 전달하지 않습니다. 귀하는 언제든지
                          광고성 메시지를 거부할 수 있으며, 이메일 내의 링크를
                          통해 구독을 취소할 수 있습니다.
                        </p>
                        <p>
                          광고성 수신 동의에 대한 문의 사항이 있으시면 아래
                          연락처로 문의하십시오:
                        </p>
                        <p>[회사명 및 연락처] (주)주토픽 02-3667-7304~5</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  function showMarketingModal() {
                    if (
                      document.getElementById("receiveMarketingInfo").checked
                    ) {
                      var marketingModal = new bootstrap.Modal(
                        document.getElementById("marketingModal")
                      );
                      marketingModal.show();
                    }
                  }
                </script>

                <button class="btn btn-danger w-100 py-2" type="submit">
                  뉴스레터 무료로 구독하기
                </button>
              </form>
            </main>
          </div>
          <div class="col-lg-6 p-5">
            <img
              src="../static/images/radio_penguin.png"
              alt="radio_penguin"
              width="400px"
            />
          </div>
        </div>

        <!--뉴스 컨테이너-->
        <div class="album py-2" id="album">
          <div class="container">
            <div class="mt-4">뉴스 카테고리 필터?</div>
            <hr class="featurette-divider" />
            <div
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3"
            >
              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/001/0014531279"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/001/2024/02/27/PCM20240227000121990_P4_20240227174414164.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/001/0014531279"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        尹 "의대증원 2천명 최소 필수조치…협상이나 타협 대상
                        아냐"(종합2보)
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">연합뉴스</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/009/0005264752"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/009/2024/02/27/0005264752_001_20240227203500997.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/009/0005264752"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        591만원 vs 286만원···다들 “대기업, 대기업” 하는데 이런
                        자리 14%뿐
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">매일경제</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/015/0004953566"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/015/2024/02/27/0004953566_001_20240227190203563.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/015/0004953566"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        사회에 '교권 회복' 환기한 서울 서이초 교사, 순직 인정
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">한국경제</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/008/0005004806"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/008/2024/02/27/0005004806_001_20240227203301017.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/008/0005004806"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        카리나♥이재욱 "열애 인정"…에스엠 주가, 7만원대로 하락
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">머니투데이</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/009/0005264730"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/009/2024/02/27/0005264730_001_20240227192801034.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/009/0005264730"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        “네이버 하이퍼클로바X, 한국판 AI능력 평가서 오픈AI·구글
                        제쳐”
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">매일경제</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/016/0002272756"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/016/2024/02/27/20240227050801_0_20240227210701279.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/016/0002272756"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        아침엔 쌀쌀, 낮엔 포근…수요일 일교차 10~15도로 커
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">헤럴드경제</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/028/0002678654"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/028/2024/02/27/0002678654_001_20240227201301061.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/028/0002678654"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        대기업 월 591만원-중소기업 286만원…임금 늘어도 격차 여전
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">한겨레</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://n.news.naver.com/mnews/article/421/0007378640"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/421/2024/02/27/0007378640_001_20240227192807427.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://n.news.naver.com/mnews/article/421/0007378640"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        윤 대통령, 늘봄학교 시행 6% 서울 조희연 교육감 공개 비판
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">news1</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://sports.news.naver.com/news?oid=076&aid=0004114844"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/009/2024/02/27/0005264718_001_20240227182001028.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://sports.news.naver.com/news?oid=076&aid=0004114844"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        “뭘로 검색하나요?” 네이버 1위 속 구글링 대신 유튜브
                        2위·챗GPT 8위 (종합)
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">매일경제</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://sports.news.naver.com/news?oid=108&aid=0003217526"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/108/2024/02/27/0003217526_001_20240227222301197.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://sports.news.naver.com/news?oid=108&aid=0003217526"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        이정후도 RYU처럼 금의환향 꿈꾸나? 그의 답변은 '상남자'
                        그 자체였다 [스코츠데일 현장]
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">스타뉴스</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://sports.news.naver.com/news?oid=076&aid=0004114844"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/076/2024/02/27/2024022801001927200260911_20240227203405930.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://sports.news.naver.com/news?oid=076&aid=0004114844"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        오타니, 99마일 강속구 받아칠 수 있을까? LAD 데뷔전에
                        쏠린 시선들...28일 시카고W전 2~3타석 소화
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">스포츠조선</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm" style="height: 350px">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <a
                    href="https://sports.news.naver.com/news?oid=109&aid=0005025616"
                  >
                    <img
                      class="img-fluid"
                      style="height: 200px; display: block; margin: auto"
                      src="https://imgnews.pstatic.net/image/109/2024/02/27/0005025616_001_20240227160405291.jpg?type=w647"
                      alt="기사 사진"
                    />
                  </a>
                  <div class="card-body">
                    <a
                      href="https://sports.news.naver.com/news?oid=109&aid=0005025616"
                      style="text-decoration: none; color: black"
                    >
                      <p class="card-text">
                        한국에 남을 걸 그랬나, ML 높은 벽 실감한 뷰캐넌
                        "겸손해졌다, 후회되는 것 중 하나가…”
                      </p>
                    </a>
                    <div
                      class="d-flex justify-content-between align-items-center mt-2"
                    >
                      <small class="text-body-secondary">OSEN</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 아코디언 -->
        <div class="container-fluid p-4" id="featured-3">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  공지사항
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  zooTOPIC의 새로운 기능이 업데이트 되면 공지사항을 통해 확인할
                  수 있어요!<br />공지사항 바로가기
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  FAQ
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It
                  is hidden by default, until the collapse plugin adds the
                  appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing
                  and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also
                  worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit
                  overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item">
                <a
                  href="./developer/"
                  style="text-decoration: none; color: black"
                >
                  <div
                    class="accordion-header px-3 py-2"
                    style="border: none; display: flex; align-items: center"
                  >
                    <div style="margin-right: 10px">개발자 소개</div>
                    <div style="display: flex">
                      <img
                        style="width: 35px; height: 35px"
                        src="../static/images/animalface_cat.png"
                      />
                      <img
                        style="width: 35px; height: 35px"
                        src="../static/images/animalface_rabbit.png"
                      />
                      <img
                        style="width: 35px; height: 35px"
                        src="../static/images/animalface_fox.png"
                      />
                      <img
                        style="width: 35px; height: 35px"
                        src="../static/images/animalface_raccoon.png"
                      />
                      <img
                        style="width: 35px; height: 35px"
                        src="../static/images/animalface_sparrow.png"
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 하단 고정 문의 -->
    <!-- 버튼 -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <button
        id="exampleModalButton"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        문의
      </button>
    </div>

    <!-- 모달창 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              카카오톡으로 문의하기
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              <a href="https://pf.kakao.com/_ZxlSaG">카카오톡 채널 링크</a>
            </div>
            <img src="../static/images/qrcode.png" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 제이쿼리 JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 부트스트랩 JS CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Uc5/i5y5i7U+JZuO7K6c19Gt0DyDrOQh2rwj1vlshw3E2z1pizqsnzg3NAid4hCs"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript -->
    <script>
      var myModal = document.getElementById("exampleModal");
      var myModalEl = new bootstrap.Modal(myModal);
      var myModalButton = document.getElementById("exampleModalButton");

      myModalButton.addEventListener("click", function () {
        myModalEl.show();
      });
    </script>

    <!--FOTTER 내용들-->
    <div class="bg-white py-5">
      <footer class="container">
        <div class="text-center border-bottom" style="line-height: 2.5">
          (주)주토픽 / 책임자 : zooTOPIC / 담당자 메일주소 : zoo@topic.com<br />
          서울특별시 도봉구 창동 1-28 씨드큐브 7층<br />
          근무시간이 일정하지 않아 전화대신 고객센터를 이용해주세요!
        </div>
        <div class="text-center text-body-secondary">
          &copy; 2024 Company, ZOOTOPIC
        </div>
      </footer>
    </div>

    <!-- 부트스트랩 자바스크립트 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
