<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lanking News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: "Pretendard-Regular";
        src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
          format("woff");
        font-weight: 400;
        font-style: normal;
      }

      body {
        background-color: #f5f5f5;
        font-family: "Pretendard-Regular";
      }
    </style>
  </head>

  <body>
    <!-- 타이틀 -->
    <div
      class="col-lg-12 p-2 bg-white"
      style="text-align: center; vertical-align: middle"
    >
      <img
        src="https://zootopic-s3.s3.ap-northeast-2.amazonaws.com/zoo_doubutsuen_sizeup.png"
        alt="zoo"
        style="height: 100px"
      />
      <span style="font-size: 70px; font-weight: 900; color: #d00d17">
        Topic
      </span>
    </div>
    <div class="container-fluid">
      <div class="col-lg-12 py-4 text-center">
        <h2 class="m-0" style="font-weight: 700">
          오늘의 랭킹 뉴스를 확인해보세요!
        </h2>
      </div>
    </div>

    <!--뉴스 컨테이너-->
    <div class="container-fluid">
      <div class="row p-5" id="album">
        <div class="pt-3">
          <strong>오늘의 주요 뉴스</strong>
        </div>
        <hr class="featurette-divider" />
        <div class="row row-cols-1 g-3">
          <div class="col">
            <div class="card shadow-sm" style="height: 350px">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <a href="https://n.news.naver.com/article/366/0000974814?ntype=RANKING">
                <img
                  class="img-fluid"
                  style="height: 200px; display: block; margin: auto"
                  src="https://imgnews.pstatic.net/image/366/2024/03/04/0000974814_001_20240304091906692.JPG?type=w647"
                  alt="기사 사진"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://n.news.naver.com/mnews/article/001/0014531279"
                  style="text-decoration: none; color: black"
                >
                  <p class="card-text">
                    정부 “미복귀 전공의, 진로에 중대한 문제 발생”
                  </p>
                </a>
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <small class="text-body-secondary">조선비즈</small>
                  <div>조규홍 보건복지부 장관은 주민들이 퇴원하는 등 집단행동에 대해서는 정부가 법을 준수하겠다고 거듭 강조했다. 이번 선언은 중앙재난안전대책본부 회의 이후 나온 것이다. 장관은 의사들이 환자를 떠나는 것을 비난하면서 정부가 그러한 행동에 대해 조치를 취할 것이라고 말했습니다. 대한의사협회가 대규모 집회를 열어 제약회사 직원을 이용해 참가자들에게 영향력을 행사했다는 비판이 나왔다. 조 장관은 대학들에 의과대학 정원 신청을 촉구하고 주민들의 업무 복귀를 독려하며 상황을 배려했다.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row row-cols-1 g-3">
          <div class="col">
            <div class="card shadow-sm" style="height: 350px">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <a href="https://n.news.naver.com/article/015/0004955073?ntype=RANKING">
                <img
                  class="img-fluid"
                  style="height: 200px; display: block; margin: auto"
                  src="https://imgnews.pstatic.net/image/015/2024/03/04/0004955073_001_20240304090701012.jpg?type=w647"
                  alt="기사 사진"
                />
              </a>
              <div class="card-body">
                <a href="https://n.news.naver.com/mnews/article/009/0005264752"
                  style="text-decoration: none; color: black"
                >
                  <p class="card-text">
                    아이 대신 강아지 키우는 한국…"내 새끼인데 최고로 해줘야죠" [슬기로운 반려생활 ①]
                  </p>
                </a>
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <small class="text-body-secondary">한국경제</small>
                  <div>한국의 반려동물 산업은 지난 10년 동안 크게 성장했으며, 2023년에는 반려동물 관리 시장 규모가 3배 증가한 24억 5천만 달러로 추산됩니다. 이러한 성장은 1인 가구 증가, 인구 고령화, 코로나19 사태에 따른 수요 증가 등 다양한 요인에 의해 주도됐다. 특히 건강 및 미용 서비스 분야의 급증과 함께 애완동물 관련 사업체 수도 크게 증가했습니다. 동물 복지 및 관련 사회 문제를 해결하기 위해 애초에 개를 중심으로 애완동물세를 도입하는 방안이 논의되고 있습니다.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row row-cols-1 g-3">
          <div class="col">
            <div class="card shadow-sm" style="height: 350px">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <a href="https://n.news.naver.com/article/016/0002275167">
                <img
                  class="img-fluid"
                  style="height: 200px; display: block; margin: auto"
                  src="https://imgnews.pstatic.net/image/016/2024/03/04/20240304050686_0_20240304161503448.jpg?type=w647"
                  alt="기사 사진"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://n.news.naver.com/mnews/article/015/0004953566"
                  style="text-decoration: none; color: black"
                >
                  <p class="card-text">
                    ‘정권 지원론’에 힘 싣는 무당층…2년 만에 5%대 아래로[數싸움]
                  </p>
                </a>
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <small class="text-body-secondary">헤럴드경제</small>
                  <div>최근 여론조사에서는 4·10 총선을 앞두고 국민의힘과 윤석열 총재에 대한 지지율이 오르는 등 무소속 유권자가 감소한 것으로 나타났다. 민주당의 지지율은 내부 공천 혼란으로 인해 하락한 반면, 국민의당의 상대적 지지율은 주목된다. 리얼미터 최홍태 선임연구원은 PPP의 부상은 내부 갈등 감소와 언론의 부패 보도 감소에 따른 것이라고 분석했다. 이번 조사 결과 PPP 지지율은 3%, 윤 총장 지지율은 39% 상승했다. 엄경영 시대정신연구소 소장은 무소속이 야당에 대한 실망으로 인해 정부 지지 쪽으로 기울게 될 수도 있다고 지적했고, 신율 교수는 무소속 지지율이 하락했다고 해서 반드시 여당 지지를 의미하는 것은 아니라고 주장했다.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="row row-cols-1 g-3">
          <div class="col">
            <div class="card shadow-sm" style="height: 350px">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <a href="https://sports.news.naver.com/news?oid=109&aid=0005029512">
                <img
                  class="img-fluid"
                  style="height: 200px; display: block; margin: auto"
                  src="https://imgnews.pstatic.net/image/109/2024/03/04/0005029512_001_20240304143103621.jpeg?type=w647"
                  alt="기사 사진"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://n.news.naver.com/mnews/article/015/0004953566"
                  style="text-decoration: none; color: black"
                >
                  <p class="card-text">
                    이런 반전이…김하성 확 바뀐 위상, ‘포지션 좌천’ 3730억 슈퍼스타 멘토 되다 “2루 수비 생소할 테니”
                  </p>
                </a>
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <small class="text-body-secondary">OSEN</small>
                  <div>미국 메이저리그에 활동 중인 김하성(29·샌디에이고 파드리스)은 유틸리티 부문 골드글러브 수상자로, 팀 메이트 잰더 보가츠의 수비 멘토 역할을 해왔다. 최근 시범경기에서도 5타수 1홈런을 기록하는 활약을 보였으며, 시범경기 타율은 종전 4할4푼4리에서 4할1푼7리로 하락했다. 이러한 업적을 바탕으로 김하성은 메이저리그 4번째 스프링캠프를 치르는 소감을 전하며, 선수로서 성장하는 과정을 나누었다.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 카카오톡 채널 이동 버튼 -->
    <div class="position-fixed bottom-0 end-0 p-3">
      <a a href="https://pf.kakao.com/_ZxlSaG">
        <button id="exampleModalButton" type="button" class="btn">
          <img
            src="https://zootopic-s3.s3.ap-northeast-2.amazonaws.com/kakaotalk_channel.png"
            style="border-radius: 20%; height: 40px; width: 40px"
          />
        </button>
      </a>
    </div>

    <!--FOTTER-->
    <div class="bg-white py-5">
      <footer class="container">
        <div class="text-center" style="line-height: 2.5">
          (주)주토픽 / 책임자 : zooTOPIC / 담당자 메일주소 : zoo@topic.com<br />
          서울특별시 도봉구 창동 1-28 씨드큐브 7층<br />
          근무시간이 일정하지 않아 전화대신 카카오톡 채널 문의를 이용해주세요!
        </div>
        <hr class="p-1" />
        <div class="text-center text-body-secondary">
          &copy; 2024 Company, ZOOTOPIC
        </div>
      </footer>
    </div>

    <!-- 부트스트랩 자바스크립트 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
